
@import url('https://fonts.googleapis.com/css?family=Mukta+Malar|Nanum+Myeongjo');
body
{
	background-color: ;
}
h5
{
	background-color:#4dd2ff;

}
p.descAndrea{
	
	font-size:15px;

}

p.textoHobby
{
	font-family: 'Open Sans', sans-serif;
}
.escucharmusica,.bailar,.marketingDigital,.redesSociales
{
	color: black;
	background-color:#ff6666 ;
    padding: 20px;
    border-radius: 20px;
}
.fa-facebook,.fa-instagram{
			  
			  font-size:30px;

			}
.fa-facebook{

			  color:blue;
			}
.fa-instagram{

			  color:#ff066a;
			}
.bailar
{
position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid #73AD21;
}




@media (max-width: 575px)
{
	.fa-facebook,.fa-instagram{
			  
			  font-size:20px;

			}
}

@media (min-width: 576px) and (max-width: 767px)
{
	.fa-facebook,.fa-instagram{
			  
			  font-size:20px;

			}
}
@media (min-width: 768px) and (max-width: 991px)
{
	.fa-facebook,.fa-instagram{
			  
			  font-size:20px;

			}
	p.descAndrea{
	font-size: 60px;
	}
}
@media (min-width: 992px) and (max-width: 1199px)
{
	p.descAndrea{
	font-size: 25px;
	}
}

@media (min-width: 1200px)
{
	p.descAndrea{
	font-size: 25px;
	}
}
